.nav-bar{
 
  
  background-color: bisque;
  padding: 10px;
  margin: 10px
}

.nav-bar-list{
 display: flex;
  flex-direction: row;
  justify-content: right;
  /* background-color: red; */
  padding-left: 10px;
  padding-right: 50px;
  
}

.nav-bar-list > li{

  margin-right: 10px;
  margin-left: 50px;
  font-size: 20px;

}

.cards-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: red; */
  justify-content: center;
   
}

.card{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 25vh;
  width: 20vw;
  /* max-width: ; */
  text-align: center;
  /* justify-content: center; */
  border-radius: 15px;
}

.card .heading{
  display: flex;
  flex-direction: column;
  height: 15%;
  /* color: red; */
  justify-content: center;
  /* background-color: yellow; */
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.card .desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  /* background-color: blue; */
  font-size: 20px;
}

.add-card-parent{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-card{
   display: "flex";
   flex-direction: "column";
   margin: "16px 0"; 
   gap: "8px" ;
  /* background-color: blue; */
  /* align-items: center; */
  width: 50vw;
}

/* .add-card > button{
  width: 100px;
} */

.dice-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dice-row{
  height: auto;
  /* background-color: red; */
  /* width: auto; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

.die{
  background-color: rgb(34, 209, 34);
  /* width: 150px;
  height: 150px; */
  max-width: 150px;

  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

}