.navbar{
  background-color: bisque;
  padding: 10px;
  margin: 10px
}

.cards-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: red; */
  justify-content: center;
  
}

.card{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 25vh;
  width: 20vw;
  /* max-width: ; */
  text-align: center;
  /* justify-content: center; */
  border-radius: 15px;
}

.card .heading{
  display: flex;
  flex-direction: column;
  height: 15%;
  /* color: red; */
  justify-content: center;
  /* background-color: yellow; */
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.card .desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  /* background-color: blue; */
  font-size: 20px;
}